
.contenedor_header{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding: 25px;
}
.logo_header{
    width: 200px;   
}
.nav_header{
    display:flex;
    /* text-decoration: none; */
    gap: 30px;
    align-items: center;
}
.nav_header a{
    text-decoration: none;
    color: #666;
    font-weight: lighter;
    font-size: 20px;
}
.button_header{
    background-color: #6c63ff;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    /* font-weight: bold; */
}
a:hover{
    border-bottom: 1px solid #6c63ff;
    line-height: 1.8;
}
.icon_header > svg{
    width: 30px;  
    height: 25px;
    color: #615bca;
}
.icon_header,.button_header:hover{
    cursor: pointer;
    
}
.button_header:hover{
    background-color: #4D41FB;
}