
.contenedor_header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: white;
    gap: 30px;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px rgb(0,0,0,0.1);
    flex-wrap: wrap;
}
.logo_header{
    width: 200px; 
    
}
.nav_header{
    display:flex;
    gap: 30px;
    align-items: center;
}
.nav_header a{
    text-decoration: none;
    color: #666;
    font-weight: lighter;
    font-size: 20px;
    white-space: nowrap;
}
.button_header{
    background-color: #6c63ff;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    white-space: nowrap;
    /* font-weight: bold; */
}
a:hover{
    border-bottom: 1px solid #6c63ff;
    line-height: 1.5;
}
.icon_header > svg{
    width: 30px;  
    height: 25px;
    color: #615bca;
}
.icon_header,.button_header:hover{
    cursor: pointer;
    
}
.button_header:hover{
    background-color: #4D41FB;
}