* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

         
}
main {
  flex: 1;
  width: 100%;           
  max-width: 1440px;     
  margin: 0 auto; 
}