.section_bienvenida{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dcdaff;
}
.imagen_bienvenida{
    width: 500px;
    margin-top: 120px;
    
}
