* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* max-width: 1200px; */
}
main{
        background-color: #f5f7fb;
        font-family: Arial, sans-serif;
        max-width: 1400px;
        padding: 0 100px;
        margin: 0 auto;
}

.class_header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    padding: 12px 40px;
    margin: 0px 70px;
}
.logo_header{
    font-weight: bold;
    font-size: 20px;
}
.div_nav{
    display: flex;
    gap: 90px;
    text-align: center;

}
.div_nav a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
}
.div_menu{
    display: flex;
    gap: 30px;
    align-items: center;
}
#btn_modo_oscuro{
    background-color: #999;
    color: #333;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
/* ======================================================== */


.section__form{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.titulo_bienvenida{
    font-size: 55px;
    font-weight: bold;
}

.div_bienvenida > p{
    color: #999;
    font-size: 21px;
    font-weight: bold;
}

.btn_registrame{
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.div_form{
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 10px ;
    color: #999;
}
.titulo_form{
    margin: 10px;
    color: black;
}
.input_form{
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
    border-color: #999;
    width: 100%;
    border: 0.1px solid color#333
}
.input_enviar{
    width: 100%;
    margin: 5px;
    padding: 8px;
    background-color: #189ec4;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
}
.section_temas{
    display: flex;
    justify-content: space-between;
}
.input_busqueda{
    border-radius: 5px;
    padding:  5px;
}

.tarjeta_section{
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}
.tarjeta1{
    margin: 10px;
    /* border: 1px solid; */
    padding: 10px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    
}
.boton_ver{
    padding: 5px 8px;
    border-radius: 5px;
    
}

.boton_ver > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.titulo_tema{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.parrafo_tema{
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

footer > h1{
    font-size: 20px;
}
footer > p {
    margin-top: 8px;
    color: #666;
}









button{
    background-color: #189ec4;
    border: none;
}