.prueba{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    
}
.aside__contenedor{
    /* width: 20%; */
    flex: 1;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.85); 
    border-radius: 10px;
}
.aside__lista li {
    display: block;
    list-style-type: none;
    padding: 3px;
    border-bottom: 1px solid black;
    text-align: center;
    cursor: pointer;
}
#btn__open{
    background-color: #8cd4cb;
    font-weight: bold;
    
}
#btn__open2{
        background-color: #ffd6e9;

}
.aside__lista li:hover{
    background-color: #ffd6e9;
}