.añadir__section {
    display: flex;
    border-radius: 13px;                         
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.85);
    border: 1px solid black;
}

.añadir__input {
    flex: 1;
    padding: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: none;
    text-align: left;
}
.añadir__section:has(.añadir__input:hover) {
    box-shadow: none;
}
.añadir__input:focus{
    outline: none;
    /* border: 2px solid #ffd6e9; */
}

.añadir__button {
    background-color: #ffd6e9;
    padding: 20px 28px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

